﻿@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

Login using social sites:
   
<a href="~/Profile/Facebook"><img src="~/Content/img/SignInWithFacebook.png" alt="Login with Facebook" /></a>
<a href="~/Profile/Google"><img src="~/Content/img/SignInWithGoogle.png" alt="Login with Google" /></a>
<a href="~/Profile/Twitter"><img src="~/Content/img/SignInWithTwitter.png" alt="Login with Twitter" /></a>
